
<div ng-include="'components/navbar/navbar.html'"></div>
 
<div class="container">

  <form class="trip-form" ng-submit="addTrip()" name="tripForm">
    <input class="form-control" ng-model="newTrip.country" rows="3" placeholder="What country are you going to?" required/>
    <input class="form-control" ng-model="newTrip.region" rows="3" placeholder="Enter a region" required/>
    <input class="form-control" ng-model="newTrip.duration" rows="3" placeholder="How long do you want to go for?" required/>
    <input class="form-control" ng-model="newTrip.info" rows="3" placeholder="Anything you want to add?" required/>
    
    <input class="btn btn-primary" type="submit" ng-disabled="tripForm.$invalid" value="Post">
  </form>
 <a ng-click="removeTrip()" ng-hide="true" class="btn">Delete</a>
  <ul class="trip-list">
    <li ng-repeat="trip in trips">
      <!-- <header>{{ trip }}</header> -->
      <p>{{ trip.country }}</p>
      <p>{{ trip.region }}</p>
      <p>{{ trip.duration }}</p>
      <p>{{ trip.info }}</p>
      <button type="button" class="close" ng-click="deleteTrip(trip)">&times;</button>
      
    </li>
  </ul>

</div>